html, body{
  font-family: Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  background-color: #FFFFEA;


}

nav{
  background-color: #FF5E5B;
  display: flex;
  padding: 10px;
  color: white;
  justify-content: space-between;
  align-items: center;

}

nav ul{
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a{
  color: white;
  text-decoration: none;

}
nav li a:hover {
  color: black;
}



.main_section {
  padding-top: 50px;
  text-align: center;
  font-size: 10px;
  color: #114B5F;
  font-weight: bold;

}


.img_producto{

    text-align: center;
    padding:0px;
}


.centrado{
   color: #FF5E5B;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-30%, -30%);
    font-size: 50px
}

.centrado_dos{
   color: #FF5E5B;
   font-size: 15px

}




.products {
  background-image:url("../imagenes/bkg_rectangulo1.png");

  /* max-height: 50px;*/
  max-height: 50px;
  background-position: center top;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  padding: 40px;
  margin-top: -95px;
}

.product .content {
  padding: 0px;
  text-align: center;
}

.img_content {
  text-align: left;
}

.main_button {
  background-color: #00CECB;
  width: 100px;
  padding: 10px;
  font-size: 12px;
  color: white;
  border: 0px;
}

.fondo_beneficios {
  background-image:url("../imagenes/bkg_rectangulo3.png");

  /* max-height: 50px;*/
  max-height: 50px;
  background-position: center top;
  padding: 70px;
  display: flex;
  justify-content: space-between;
}


.titulo_mencion{
  color: white;
  padding: 0px;
  text-align: center;
}

.beneficios_3{
  padding: 0px;
  display: flex;
  justify-content: center;

}

.beneficios_2{
  padding: 0px;
  display: flex;
  justify-content: center;
}

.beneficio{
  text-align: center;
  padding: 20px;
  justify-content: space-between;
}

h3{
  color: #114B5F;
}

.group_mencion {
  justify-content: center;
  position: top;
  background-size: cover;
  /* max-height: 180px;*/
  padding-bottom: 50px;
}

.group_marcas {
  background-color: white;
  justify-content: center;
  position: top;
  background-size: cover;
  /* max-height: 180px;*/
  padding-bottom: 50px;
  padding-top: 10px
}

.marcas{
  background-color: white;
  justify-content: space-around;
    display: flex;
}


h1.titulo_beneficios{
  color:  #FF5E5B;
  padding: 20px;
  text-align: center;
}

h1.titulo_p{
  color:  white;
  padding: 20px;
  text-align: center;
}


h1.titulo_mencion{
  color: #FF5E5B;
  padding: 50px;
  text-align: center;
}


h1.title_mencion{
  color: white;
  padding: 0px;
  text-align: center;
}

h1.titulo_marcas{
  font-size: 20px;
  color: #FF5E5B;
  padding: 30px;
  text-align: center;

}
h1.titulo_faqs{
  color:  #FF5E5B;
  padding: 20px;
    font-size: 30px;
  text-align: center;

}


.menciones{
  padding-bottom: 50px;
  color: white;
  padding: 10px;
  display: flex;
  font-size: 13px;
  justify-content: space-evenly;
}

.mencion {
  text-align: center;
  padding: 5px;
}

.marca {
  text-align: center;
  padding: 5px;
}


.content_mencion{
  background-color: #00CECB;
  padding-bottom: 20px;

}

.content_img{
  background-color: #02B5AC;
  padding: 0px;
}

.content_marcas{
  justify-content:  center;
    padding: 0px;
}

.text_container{
  color: #FF5E5B;
  padding: 10px;
  text-align: center;
  font-size: 15px;

}

.row{
  padding-bottom: : 0px;
  justify-content: center;
  color: #FF5E5B;
  font-size: 15px;
}

.tyc{
  padding-left: 0px;
  padding-right: 0px;
  text-align: justify;
  font-size: 10px;
  color: #02B5AC;
  font-weight: bold;
}

.titulo_fqs{
  display: flex;
  justify-content: left;
}
.titulotyc{

  color: #114B5F;
}

.textotyc{
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:  50px;
  color: #114B5F;
  background-color: white;
}

.subtyc{
font-weight: bold;
  color: #02B5AC;

}

.faqs{
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
    padding-top: 20px;

}


.faqs_p{
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.products_descripcion{
  /* max-height: 50px;*/
  max-height: 200px;
  background-size: cover;
  background-position: center top;
  padding: 142px;
  display: flex;
  justify-content: center;
}

/*------------------Ventas */

.modulo_pago{
  background-color: white;
  box-shadow: 0px 0px 6px 1px #e6e5e9;
  padding: 10px;
  text-align: justify;
}

.modulo{
  text-align: center;
}

.modulo_pago_images{
  max-width: 220px;
  margin: auto;
  justify-content: center;

}

.data{
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #e6e5e9;
  box-sizing: border-box;

}

.modulo_pago .main_button{
  padding-top: 10px;
}


/*------------------Footer */


footer{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #F6514A;
  padding: 10px;
  margin-top: 105x;
  color: white;

}

.logos{

  padding-right: 20px;
}

.option{

  justify-content: center;
}
